<config>
    <bean id="id1" class="framework.test_beans.Car" scope="singleton" lazy-init="false">
        <properties>
            <property name="maxSpeed" value="300"/>
        </properties>
        <constructor>
            <arg value="4"/>
            <arg value="BMW"/>
        </constructor>
    </bean>
    <bean id="id2" class="framework.test_beans.Car" scope="prototype" lazy-init="false">
        <properties>
            <property name="maxSpeed" value="280"/>
        </properties>
        <constructor>
            <arg value="4"/>
            <arg value="Mercedes"/>
        </constructor>
    </bean>
</config>
